<header>
    <a href='/' class='header-logo'>AtCoder List</a>
    <ul id='header-list'>
    <% if (locals.isLoggedIn) { %>
        <li><a href="/logout">ログアウト</a></li>
      <% } else { %>
        <li><a href="/login">ログイン</a></li>
        <li><a href="/signup">新規登録</a></li>
      <% } %>
    </ul>
    <p class='is_user'><%= locals.username %></p>
</header>