<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>AtCoder List</title>
        <link rel='stylesheet' href='/css/style.css'>
        <link rel="shortcut icon" href="images/icon.ico" type="image/vnd.microsoft.icon">
    </head>
    <body>
        <div class='top-wrapper'>
            <div class='top-detail'>
                <h2 class='subtitle'>AtCoder 問題管理ツール</h2>
                <h1 class='title'>AtCoder List</h1>
                <p>
                    AtCoder List は今後解きたい問題や、復習したい問題を保存できるサービスです。
                    <br>
                    すぐに開きたい問題などを追加してみましょう。
                </p>
                <a href='/index' class='index-button'>一覧を見る</a>
            </div>
            <div class='top-image'>
                <img src='/images/top.png'>
            </div>
        </div>
    </body>
</html>